
    #indexBody {
        font-family: Arial, sans-serif;
        background-color: #121212;
 
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        
        color: #f1f1f1;
        overflow: hidden;

        
    }
    #gambleBody{
        background-color: #121212;
        height: 100vh;
        color: #f1f1f1;
        overflow: hidden;
    }

    #container {
        text-align: center;
    
        padding: 20px;
        width: 300px;

    } 

    #mainButton {
        background-color: #ff6347;
        border: 2px solid #ff4500;
        color: #121212;
        padding: 10px;
        font-size: 16px;
        cursor: pointer;
        margin-top: 20px;
        border-radius: 5px;
        
        height: 100px;
        width: 100px;
    }

    #mainButton:hover {
        background-color: #ff4500;
        
    }

    #clicks {
        font-size: 24px;
        color: #f1f1f1;
        margin-bottom: 20px;
        
    }

    #output {
        font-size: 18px;
        color: #cccccc;
    }

    #iteration{
        margin: 20px;
    }
    #upgradePanel{
        position:absolute;
        height: 100%;
        width: 20%;
        right: 0%;
        bottom: 0%;

        background-color: #1D1212;

        border-left: #ff4500;
        
        border-top-left-radius: 2px;
        border-right-width: 0px;
        border-top-width: 0px;
        border-bottom-width: 0px;
        border-style: dashed;
    }


    .upgradeButton{ 
        position: absolute;
        width: 80%;
        height:fit-content;         
        background-color: #ff6347;
        border-color: #ff4500;
        border-radius: 2px;
        color: #f1f1f1;
        margin: 25px;
        position: relative;
        top: 0%;
        cursor: pointer;
    }
    .upgradeButton:hover{
        background-color: #ff4500;
    }
    


    #finalButton{
        position: absolute;
        width: 80%;
        height:fit-content;         
        background-color: gold;
        border-color: goldenrod;
        border-radius: 2px;
        color: #f1f1f1;
        margin: 25px;
        position: relative;
        top: 0%;
    }
    #finalButton:hover{
        background-color: goldenrod;
    }

    #currentVersion {
        font-size: 12px;
        color: #999;
        position: absolute; 

        bottom: 5%;
        border-radius: 2px;
        
    }

    #wawa{
        width: 100%;
        position: sticky;
        
        border-width: 2px;
        border-style: dashed;
        border-radius: 2px;
        border: #8e5454;
        top:100%;
    }

    #two{
        position:absolute;
        bottom: 0%;
        right: 0%;
    }

    #pixelInfo{
        top: 0%;
        left: 0%;
        font-size: larger;
    }


    
